.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.goback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.form {
    /* border: 1px solid green; */
    width: 20%;
   
}

.form>input {
    height: 30px;
    width: 100%;
}

.addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px; 
    /* height: 100vh; */  
} 
/* .adding{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 10px;
} */